[2020-09-24 08:57] balazsbotond opened #1 "Spaces in the query string are encoded as `%20` instead of `+`"
Input:

[code]

Expected:

[code]

Actual:

[code]

[2020-09-24 09:00] balazsbotond opened #2 "Update second example in the README "Why?" section to use URL and URLSearchParams"
Use currently accepted best practice as the basis of the comparison instead of my own clumsy solution.

See this Reddit comment: https://www.reddit.com/r/programming/comments/iyh2yn/urlcat_build_correct_urls_easily/g6eibpq?utm_source=share&utm_medium=web2x&context=3

[2020-09-24 09:02] balazsbotond opened #3 "Use URL and URLSearchParams internally"
Currently we use a custom implementation. Using these built-in classes would reduce complexity, improve readability and prevent bugs.

[2020-09-24 09:13] balazsbotond opened #4 "Add note about empty path segments to README"
See this Reddit comment: https://www.reddit.com/r/programming/comments/iyh2yn/urlcat_build_correct_urls_easily/g6ebzjr?utm_source=share&utm_medium=web2x&context=3

[2020-09-24 09:17] #2 closed, assigned to balazsbotond

[2020-09-24 09:37] #1 closed, assigned to balazsbotond

[2020-09-24 09:37] #3 closed, assigned to balazsbotond

[2020-09-24 22:31] balazsbotond opened #5 "Support multiple query parameters with the same name"
[code]

currently returns:

[code]

should return:

[code]

[2020-09-25 08:36] kako-jun opened #6 "Support array and object query parameters and different ways of formatting them"
[code]

The type `any` is expected not to cause an error, no matter what type is passed.
In fact, I passed in various types, but urlcat didn't make an error, so I thought it was wonderful.

However, the following behavior was observed.
I don't know if these are intended.

### array type

in:

[code]

out:

[code]

`[` and `]` are removed as a result of the array being stringized.
It will then be e

[2020-09-25 09:03] kako-jun opened #7 "Passing an invalid string as a URL to `pathTemplate` causes an exception."
To reproduce the exception:

in:

[code]

out:

[code]

Users of urlcat may not know that `new URL` is called internally.
So users don't expect exceptions.

The problem is when `pathTemplate` is variable.
Users don't know what `string` cause an exception until they give it to urlcat. :cold_sweat:

It forces users to add `try`.
Or users need to read the urlcat code to prevent this.

How is adding `

[2020-09-25 09:13] balazsbotond commented on #6
@kako-jun thank you for the thoughtful and detailed feedback!

I agree that this behavior isn't very useful. Currently *urlcat* passes the parameters directly to the `URLSearchParams` constructor, regardless of their types. `URLSearchParams` converts arrays to comma-separated lists. But this doesn't work well for more complex cases and sometimes completely different behavior is desired.

If I unde

[2020-09-25 09:23] balazsbotond commented on #5
See also #6

[2020-09-25 09:30] kako-jun commented on #6
I agree with all of your ideas.

The following attitude is wonderful.

I look forward to the option being added.

If the new key name is `arrays`, is the name of the key specifying behavior for object `objects` ?

[2020-09-26 05:40] polysiya commented on #6
Popular library [qs](https://github.com/ljharb/qs) supports four options(`indices`,`brackets`, `repeat`, `comma`) to stringify  array values and `bracket` option is required to communicate with rails server: [Hash#to_query in Rails](https://apidock.com/rails/Hash/to_query)

So it must be great to support `brackets` option like below.
[code]

[2020-09-26 08:33] balazsbotond commented on #7
Nice catch, thank you!

This is indeed very unexpected behavior. I'll release a fix later today.

[2020-09-26 08:36] balazsbotond commented on #6
@kako-jun yes, i think `arrays` and `objects` would be good, short names, though the qs library @polysiya linked above uses `arrayFormat` which is a bit more descriptive. I can't yet decide between them.

[2020-09-26 08:46] balazsbotond commented on #6
@polysiya thank you, that's a very good library!

I'm thinking about simply just switching to it and using it under the hood. My only concern is the size: qs is 160KB unpacked, urlcat is 14.7KB.  I've also found another query string library called query-string which is much smaller (31.8 KB) and can do the same.

The names of the format options are also much better than what I came up with so I'll

[2020-09-26 09:37] balazsbotond commented on #7
This is due to how the `URL` constructor handles relative URLs:

[code]

To be honest I don't think this is useful at all - users would expect *urlcat* to do simple concatenation. This error goes against the principle of least surprise. We already have a well-tested `join` function that does the same so I'm going to replace the `URL` constructor with a simple `join` call.

[2020-09-26 09:44] balazsbotond opened #9 "Restrict the allowed types of path parameters"
Only the following should be allowed as path parameter values:
- `string`
- `number`
- `boolean` - I'm not sure about this one though but I don't want to be overly strict

The following primitive types, in my opinion, should not be allowed:
- `symbol`
- `bigint`
- `undefined`
- `null`

Complex types (arrays and object) should not be allowed at all.

The error thrown should be a `TypeError` and its

[2020-09-26 09:49] balazsbotond commented on #5
Duplicate of #6

[2020-09-26 09:49] #5 closed, assigned to nobody

[2020-09-26 10:06] balazsbotond commented on #6
I've been thinking about a simple way to do project-level configuration for *urlcat* which will become necessary once we start using the config options mentioned above.

For a single urlcat call, you could pass the config object as a parameter, as discussed above:

[code]

But if you want to reuse the same configuration across your project, this can hurt readability. Reducing clutter and helping y

[2020-09-26 10:12] #7 closed, assigned to balazsbotond

[2020-09-26 10:23] balazsbotond commented on #7
@kako-jun thanks again. I've fixed the bug and published a new patch release v2.0.2.

[2020-09-26 10:28] harshilparmar commented on #9
Can I try this ?

[2020-09-26 10:42] balazsbotond commented on #9
@harshilparmar sure, it's yours! :)

[2020-09-26 10:54] balazsbotond commented on #4
The README section should include:
- we support empty path segments (with an example of what they are and a reference to the RFC that allows them)
- though duplicate slashes are automatically removed from the concatenation boundary
- so if you need an empty segment at the bondary, you should either use:
  - this overload: `urlcat(baseTemplate: string, params: ParamMap)` (with usage example)
  - on

[2020-09-26 11:04] balazsbotond opened #10 "Add JSDoc annotations"
Why?
- rich autocomplete in VS Code and other editors
- automatic API documentation generation in the future

The annotations should be based on the current API section of a readme, but a bit more detailed. Examples should be included (can be copied straight from the README). Good English is important - I'm not a native speaker so I would be very happy if someone from an English-speaking country c

[2020-09-26 11:06] balazsbotond opened #11 "Proofread English text in the README and JSDoc"
I'm not a native English speaker. I would be very glad if someone from an English-speaking country could review the README and the JSDoc comments and correct any spelling/grammatic/stylistic mistakes.

[2020-09-26 11:37] balazsbotond commented on #6
I've thought about this a bit more and I think we should allow overrinding project-level config settings in individual calls to the configured function. So we could do something like:

[code]

[2020-09-26 13:15] harshilparmar commented on #9
`function path(template: string, params: ParamMap) {
  const remainingParams = { ...params };
  const renderedPath = template.replace(/:\w+/g, p => {
    const key = p.slice(1);
    if (!params.hasOwnProperty(key)) {
      return p;
    }
    delete remainingParams[key];
    **const allowedTypes = ["boolean","string","number"];
    if(allowedTypes.includes(typeof params[key])){
      return encode

[2020-09-26 13:39] balazsbotond commented on #9
@harshilparmar thank you, I believe this is correct 👍 I like the names you used and the overall logic of your code.

Just a couple of minor, mostly stylistic suggestions:

- You can negate the condition in the if to reduce the number of nested blocks (so it would become `if (!allowedTypes.includes...) { throw ...; }` and then just return, no need for an `else` block
- I would move the `allowedType

[2020-09-26 13:57] harshilparmar commented on #9
@balazsbotond  Thanks for suggestions brother!!! I will make pr with this changes.I would love to contribute and learn from you.
Thanks for 1st and last points.For 2ed and 3rd point I changed code accordingly only to show you,**HAHAHAH** But it was right.Thanks brother 💯

[2020-09-26 15:00] harshilparmar commented on #9
@balazsbotond  Would you like to show specific type of objects??

[https://stackoverflow.com/questions/7893776/the-most-accurate-way-to-check-js-objects-type](stackoverflow)
[https://javascriptweblog.wordpress.com/2011/08/08/fixing-the-javascript-typeof-operator/](url)

[2020-09-26 15:13] balazsbotond commented on #9
@harshilparmar I agree that in general, just the string "object" is not very informative - and in most cases it would be a good idea to also return the name of the type.

But almost all objects passed to urlcat will be object literals - for those these solutions would still return "object" or "Object" - so in this specific case, I don't think it's worth adding more code to return the exact type.

[2020-09-26 16:14] harshilparmar commented on #9
@balazsbotond ohh, for that we don't need to add that💯

[2020-09-26 18:51] harshilparmar commented on #9
@balazsbotond  Can you help me to figure out how to write test case for TypeError?
I have made something like this
` it('Don\'t allow null as parameter', () => {`
   ` const actual = subst(':p', { p: null });`
`  expect(actual).to.throw(new TypeError('Path parameter p cannot be of type object.Allowed types are: boolean, string, number.'));`
`  });`

But it's not passing test !!

[2020-09-26 19:36] balazsbotond commented on #9
@harshilparmar Null and undefined values are removed in `urlcatImpl` before calling `path` (by design - though I'm planning to change this in the future) so that's why your code won't throw an exception in that case. I could have explained this better in my original comment on this issue, sorry about that.

So the solution is simply not writing a test case for null and undefined.

[2020-09-26 19:46] balazsbotond opened #13 "Don’t allow missing, null or undefined path parameters"
We should throw an `Error` instead of silently continuing and leaving the path parameter placeholder in the rendered path.

[2020-09-27 04:49] harshilparmar commented on #13
@balazsbotond you are right 👍

[2020-09-27 06:05] harshilparmar commented on #13
@balazsbotond  I have done this,I will do pr in #12

[2020-09-28 05:36] balazsbotond opened #16 "Use tslint, add .tslintrc"
Warnings should be treated as errors.

A `lint` npm script should be added.

Linting should be part of the Travis build and break the build if there are any violations.

[2020-09-28 05:37] balazsbotond opened #17 "Test coverage should be measured"
And a badge added to the README

[2020-09-28 08:07] balazsbotond commented on #9
Categorized this as a bug instead of an enhancement because it fixes unexpected behavior.

Closing.

[2020-09-28 08:07] #9 closed, assigned to harshilparmar

[2020-09-28 08:14] balazsbotond opened #18 "Set up GitHub Pages properly"
**Is your feature request related to a problem? Please describe.**
We need a basic website. This would give more credibility to the project.

**Describe the solution you'd like**
A simple way to do this would be to just publish the README as a web site. Copy the docs folder to the github pages branch and copy the contents of the README into index.md.

**Describe alternatives you've considered**
We

[2020-09-28 08:15] balazsbotond opened #19 "Register a domain for the project (e.g. urlcat.dev)"
This would give more credibility to the project.

[2020-09-28 08:22] balazsbotond opened #20 "Add "minzipped size" badge to README"
Like this:

[code]

[2020-09-28 08:39] harshilparmar commented on #19
@balazsbotond Just like personal website for project right?

[2020-09-28 09:07] #17 closed, assigned to balazsbotond

[2020-09-28 09:08] balazsbotond commented on #20
Done in b639d0c

[2020-09-28 09:08] #20 closed, assigned to balazsbotond

[2020-09-28 09:52] balazsbotond commented on #19
Yes. I've just registered urlcat.dev. The DNS records need to propagate but the site will be live soon.

[2020-09-28 09:52] #19 closed, assigned to balazsbotond

[2020-09-28 09:53] balazsbotond commented on #18
Done.

[2020-09-28 09:53] #18 closed, assigned to balazsbotond

[2020-09-28 11:18] balazsbotond opened #21 "Add Snyk vulnerabilities badge to README"

[2020-09-28 11:19] #21 closed, assigned to balazsbotond

[2020-09-28 11:30] #16 closed, assigned to nobody

[2020-09-28 12:06] #10 closed, assigned to balazsbotond

[2020-09-28 12:14] #4 closed, assigned to nobody

[2020-09-28 18:50] SimonJang commented on #6
@balazsbotond, can I offer my help for this issue? I've been following the discussion and it seems clear what needs to be done.

[2020-09-28 21:20] balazsbotond commented on #6
@SimonJang that sounds great, thank you! I've been thinking a bit more about this issue since I last commented. It's getting late now - let me gather my thoughts in the morning and write down what needs to be done in my opinion so we can discuss it.

[2020-09-29 07:15] balazsbotond commented on #6
So I think we need to support:
- array formatting with commas, repeated query params, bracket and index notation, json.stringify
- object formatting with bracket and dot notation, json.stringify

We need to determine the defaults for both arrays and objects - for this we need data about popular backend frameworks (js and non-js).

So I think that our options are the following:

**1. use [query-str

[2020-09-29 07:26] EngrKhizarIqbal commented on #6
@balazsbotond I'm in for the help in development.

[2020-09-29 07:49] balazsbotond commented on #6
@EngrKhizarIqbal thank you!

Could you please tell us what you think about the options in my previous comment?

If you have the time, your help would also be appreciated in finding examples of how backend frameworks expect array and object query params to be formatted.

As for the implementation, I think this is a single-person task and @SimonJang was here first, so he should be the one to do it.

[2020-09-29 07:56] EngrKhizarIqbal commented on #6
You are welcome. I can help you with NodeJS and ASP.NET backend examples. and I'm not in for this issue only, happy to help you with any task for this repo.

[2020-09-29 08:00] balazsbotond commented on #6
@EngrKhizarIqbal thank you in advance for the examples! I will add some more issues soon, watch out for them!

Don't worry, I myself am also pretty new to open source :)

[2020-09-29 08:27] balazsbotond opened #22 "Create documentation website"
The API documentation should be generated instead of being hardcoded in the README.

We need to find a tool that produces nice-looking API docs easily and also allows adding additional pages.

[2020-09-29 08:37] harshilparmar commented on #22
@balazsbotond  what about storybook
[https://github.com/storybookjs/storybook](url)

[2020-09-29 09:13] balazsbotond commented on #22
@harshilparmar if I understand correctly, storybook is for developing UI components in isolation. What I'm looking for is something that would fetch the jsdoc comments from the code and convert them to nice-looking, simple html documentation.

[2020-09-29 09:19] praveen5959 commented on #22
You mean like SwaggerUI?

[2020-09-29 09:22] praveen5959 commented on #11
I can work on this and raise a PR. If that's okay?

[2020-09-29 09:42] praveen5959 commented on #22
There is jsdoc. We can use jsdoc command to generate HTML.
https://github.com/jsdoc/jsdoc

Here is an example: https://github.com/danyg/jsdoc3Template/wiki#screenshots

We can try this.

[2020-09-29 09:44] harshilparmar commented on #22
Ohhh, that's cool thing. I have never heard something like that 👂

[2020-09-29 09:58] balazsbotond commented on #22
@praveen5959 this is what we need, thanks 👍

[2020-09-29 09:58] balazsbotond commented on #11
@praveen5959 sure, thank you!

[2020-09-29 09:59] balazsbotond commented on #22
@EngrKhizarIqbal would you like to do this one?

[2020-09-29 10:05] EngrKhizarIqbal commented on #22
You are right. StoryBook is for UI testing not for generating docs. jsdoc or any other library that generates nice and clean HTML from javascript docs will serve our needs.

[2020-09-29 10:18] EngrKhizarIqbal commented on #22
But one thing, as I know, JSDoc will only extract documentation from the comments developer write in the code. However, we might want to explain more some parts of the app or add multiple examples for a single method, doesn't this long comments in the code make the file big (with tens of line of comments, for a method that has 3-5 lines of code)

Instead, in my opinion, we should some tools like [

[2020-09-29 10:43] balazsbotond commented on #22
@EngrKhizarIqbal you're right, generated documentation isn't very friendly and we could indeed write better docs manually. I originally wanted to use the jsdoc comments already in the code because of how easy it would be but you've convinced me :)

Thanks for suggesting docsify. I took a look at it and it looks like an excellent tool and it can be used very easily with GitHub Pages.

I would still

[2020-09-29 13:09] praveen5959 commented on #11
I have made the changes and raised a PR
https://github.com/balazsbotond/urlcat/pull/23

Can you check and lemme know if any further changes required.

[2020-09-29 13:30] EngrKhizarIqbal commented on #22
Yes, JSDocs are indeed necessary for IntelliSense info and we can't opt them out. I'll work on it.

[2020-09-29 13:30] balazsbotond commented on #22
Thank you!

[2020-09-29 13:34] balazsbotond commented on #22
You can put the .md files in the docs folder. Please keep the two .svg files there - the README uses them and the documentation should also reference them.

[2020-09-29 13:36] EngrKhizarIqbal commented on #22
Got it. Will check the MD files and start working on it from tomorrow since I'm almost done for today.

[2020-09-29 13:37] balazsbotond commented on #22
Thank you!

[2020-09-29 14:15] knpwrs opened #25 "This module works with Deno!"
I just tested and it appears that this module works with [Deno](https://deno.land/)! For instance, the following code:

[code]

Had the following output:

[code]

It might be nice to do these three things:

1. Submit this module to https://deno.land/x, that way the import `https://denopkg.com/balazsbotond/urlcat/src/index.ts` can just be `https://deno.land/x/urlcat`.
1. Add some instructions to th

[2020-09-29 15:49] SimonJang commented on #6
@balazsbotond I tend to use an established library instead of reinventing the wheel because, like you mentioned, it's battle-tested and proved itself in production environments. Unless we can do it better and faster, which is a non-trivial undertaking, I would suggest using an existing solution to solve this sub problem.

As for which one, I think that choice boils down to your vision of `urlcat`.

[2020-09-29 15:59] balazsbotond commented on #25
@knpwrs thanks for taking the time to test urlcat with Deno! I've just submitted it:

https://deno.land/x/urlcat@v2.0.2-deno

(I've created a new tag just to trigger the web hook - I hope that was the right way to do it.)

I'll install Deno later today and see if it works.

[2020-09-29 16:02] balazsbotond commented on #25
@knpwrs is it possible to use Travis CI to run tests with Deno? I haven't found any info about it in the Travis documentation.

[2020-09-29 16:24] balazsbotond commented on #6
@SimonJang I agree, let's use an established library. Above all else, I want urlcat to be convenient, so I think qs is the better choice. I'm assigning this ticket to you now - thanks for your help!

[2020-09-29 16:33] balazsbotond commented on #25
For some reason, it only works if I specify the full path to index.ts in the import statement, otherwise I get a 404:

[code]

[2020-09-29 17:26] knpwrs commented on #25
@balazsbotond did you specify the root directory when submitting to https://deno.land/x? I haven't submitted any modules myself, but to the best of my knowledge I think you can specify a root directory when submitting. See the following screenshot:

![image](https://user-images.githubusercontent.com/174864/94592895-20c31c00-0257-11eb-8bcd-87fa5dc197e1.png)

As for Travis, I don't see why not. Trav

[2020-09-29 17:30] balazsbotond commented on #25
@knpwrs thanks! When I submitted it for the first time, I left it empty but I fixed it later. I hope it will work with the next version :)

[2020-09-29 18:37] #25 closed, assigned to balazsbotond

[2020-09-30 05:02] balazsbotond commented on #2
@all-contributors please add @balazsbotond for code, tests, docs, infrastructure, bug and maintenance

[2020-09-30 05:07] balazsbotond commented on #7
@all-contributors please add @kako-jun for bug

[2020-09-30 05:08] balazsbotond commented on #6
@all-contributors please add @kako-jun for ideas

[2020-09-30 05:09] balazsbotond commented on #6
@all-contributors please add @polysiya for ideas

[2020-09-30 05:12] balazsbotond commented on #9
@all-contributors please add @harshilparmar for code

[2020-09-30 05:13] balazsbotond commented on #25
@all-contributors please add @knpwrs for platform and userTesting

[2020-09-30 05:14] balazsbotond commented on #22
@all-contributors please add @praveen5959 for ideas

[2020-09-30 05:15] balazsbotond commented on #22
@all-contributors please add @EngrKhizarIqbal for ideas

[2020-09-30 05:17] balazsbotond commented on #6
@all-contributors please add @SimonJang for ideas

[2020-10-01 06:35] SimonJang commented on #6
I'll give it a go this weekend and submit a PR :rocket:

[2020-10-01 07:15] #13 closed, assigned to harshilparmar

[2020-10-01 07:26] balazsbotond opened #39 "Measure code coverage for TypeScript instead of JavaScript"
Our current method for measuring code coverage is rather limited. First, it works on the JavaScript output instead of the original TypeScript; second, it also measures coverage for the tests themselves. The only thing it should measure is `src/index.ts`. The output should be in LCOV format so we can feed it into coveralls.

I have created the current solution in a hurry; I have no time to dig deep

[2020-10-01 07:43] #11 closed, assigned to praveen5959

[2020-10-01 07:46] balazsbotond opened #40 "Proofread English text in the README and JSDoc comments"
I'm not a native English speaker. I would be very glad if someone from an English-speaking country could review the README and the JSDoc comments and correct any spelling/grammatic/stylistic mistakes.

While we have already received a contribution for this, further ones would be still very much appreciated.

[2020-10-01 08:22] balazsbotond commented on #13
@harshilparmar I've just released a new version (v2.0.3) which means your work is now live! 🎉

[2020-10-01 08:51] praveen5959 commented on #39
Do you mean generating a report of line coverage, branch coverage, etc . We can use jest for that right?

[2020-10-01 08:57] balazsbotond commented on #39
We already measure code coverage but the configuration is less than optimal due to the problems I mentioned in the issue description. I don't know jest but it looks like it can generate coverage reports for TypeScript so it might be a good solution.

[2020-10-01 09:01] praveen5959 commented on #39
So if your case is to generate a coverage HTML report then JEST can do it. I have worked on it also so I can help.
![image](https://user-images.githubusercontent.com/30530587/94789586-b646e300-03f2-11eb-8dc1-fa7e6b725608.png)

P.S. The label should be Hacktoberfest to be counted I guess.

[2020-10-01 09:31] balazsbotond commented on #39
An HTML report would be nice but the **LCOV** report is the main thing here, that's what gets fed to coveralls (as you can see in `package.json`).

Oh, I didn't know the label had to be capitalized. I'll rename it, thanks for pointing it out.

[2020-10-01 09:36] praveen5959 commented on #39
JEST provides LCOV report itself in HTML report.
DOCS reference: https://jestjs.io/docs/en/configuration#coveragereporters-arraystring--string-options

[2020-10-01 09:40] balazsbotond commented on #39
Sounds great, thanks!

[2020-10-01 09:40] balazsbotond commented on #39
I can't assign this issue to you on my phone but feel free to start working on it.

[2020-10-01 09:41] praveen5959 commented on #39
Okay then I will start working on it and will keep you updated.

[2020-10-01 10:32] harshilparmar commented on #13
@balazsbotond Ohh great 🥳 🎉

[2020-10-01 11:37] praveen5959 commented on #39
Hey I checked your test configuration and now I am bit confused. You are already generating coverage in the form of HTML report.

![image](https://user-images.githubusercontent.com/30530587/94804534-991d0f00-0408-11eb-960b-547de5679f8b.png)

So what's the exact issue?

[2020-10-01 11:53] balazsbotond commented on #39
The exact issue is described in my first comment [here](https://github.com/balazsbotond/urlcat/issues/39#issue-712572950).

[2020-10-01 12:42] praveen5959 commented on #39
Oh I think I misunderstood it.
I am sorry.
I think you should keep the issue open so that others can also pitch meanwhile I will try n understand more.
Sorry again.

[2020-10-01 12:54] balazsbotond commented on #39
@praveen5959 It's ok, thank you for offering your help and looking into it :)

[2020-10-01 12:55] balazsbotond commented on #39
To clarify: this issue is still open and we are still looking for someone who can help.

[2020-10-01 14:44] withoutwaxaryan commented on #40
Hello there! My English is quite fluent, I can help :))
I proofread the README.md , and I didn't find any linguistic errors there, at all :))

Could you please point out what do you mean by JSDoc comments? I could not find it anywhere.
Thanks!

[2020-10-01 15:14] balazsbotond commented on #40
@withoutwaxaryan thank you! I'm glad to hear there are no problems with the README anymore.

You can find the JSDoc comments in this file:
https://github.com/balazsbotond/urlcat/blob/master/src/index.ts

Look for blocks like the following:

[code]

[2020-10-01 15:26] withoutwaxaryan commented on #40
Thanks, I found very small errors ( they might not even be errors) . Ill just send a PR, and let you decide :))

[2020-10-01 15:45] balazsbotond commented on #40
@withoutwaxaryan thanks a lot! 👍

[2020-10-01 16:10] withoutwaxaryan commented on #40
I have sent a PR, the changes look quite trivial, but hopefully, helps :))

[2020-10-01 16:34] balazsbotond commented on #40
Thank you, it definitely helps! I've just merged your PR.

[2020-10-01 16:34] #40 closed, assigned to withoutwaxaryan

[2020-10-01 16:35] balazsbotond commented on #40
@all-contributors please add @withoutwaxaryan for docs

[2020-10-01 20:03] balazsbotond opened #43 "Configure Travis CI to run tests on Deno"
*urlcat* currently works with Deno - I know because I've manually tested it before the latest release. This is obviously very boring, easy to forget and error-prone, so it would be great if we could run the test suite on Deno too ([our build](https://github.com/balazsbotond/urlcat/blob/master/.travis.yml) currently runs on Node 10, 11, 12, 13 and 14) after each commit automatically.

If you have e

[2020-10-02 05:30] balazsbotond commented on #39
Solved in #44. Closing.

[2020-10-02 05:30] #39 closed, assigned to nobody

[2020-10-03 04:16] tcarrio commented on #43
Well, testing CI builds with issue references in the commit really bogs up the issue. My apologies.

I opened up a PR that introduces this feature. Since running the tests in Deno would require a considerable refactor to the test code, I left that out.

[2020-10-03 04:16] tcarrio commented on #43
Well, testing CI builds with issue references in the commit really bogs up the issue. My apologies.

@balazsbotond I opened up a PR that introduces this feature. Since running the tests in Deno would require a considerable refactor to the test code, I left that out.

[2020-10-03 08:38] balazsbotond commented on #43
@tcarrio thank you! Could you please describe how you would approach refactoring the tests to run both on Deno and Node so I or someone else could do it later (or you of course, if you feel like it)?

[2020-10-03 10:05] 3zk1m0 commented on #43
I Fiddled around yesterday to try this also, and i tried the refactoring by making separate folder (/tests/deno) for denos tests.
To refactor, i just used mostly find and replace for to change it to use Denos library.
Then i just ignored Denos test folder in jest.config.

My opinion: Its not the cleanest solutions and in future there might be better way to do this. But it works for now 😛

[2020-10-03 10:38] balazsbotond commented on #43
@3zk1m0 maybe we could add a very thin abstraction layer over the APIs of Jest and Deno and write our tests using that layer.

[2020-10-03 11:21] balazsbotond commented on #43
I'm thinking about something like this:

*urlcat.ts:*
[code]

*all-tests.ts:*
[code]

*jest-runner.ts:*
[code]

*deno-runner.ts:*
[code]

@tcarrio  and @3zk1m0 what do you think? Please don't hesitate to tell me if there is a simpler way to do this :)

[2020-10-03 14:03] balazsbotond commented on #6
@all-contributors please add @SimonJang for code

[2020-10-03 14:06] balazsbotond commented on #6
I would like to thank everybody who helped design this feature (@kako-jun, @polysiya, @SimonJang) and @SimonJang for the excellent implementation. Closing this thread now - this will be shipped in the next major version in at most a couple of days.

[2020-10-03 14:06] #6 closed, assigned to SimonJang

[2020-10-03 14:25] 3zk1m0 commented on #43
@balazsbotond In my opinion that looks lot cleaner.
It just needs to be documented so people later understand how it works with out too much effort,
even it still is pretty simple to understand.

[2020-10-03 16:44] tcarrio commented on #43
@balazsbotond I think generalizing the test assertions with your own library would work well, with most of the tests assertions in the test suite as it is it should be easy enough to maintain adapters for both Jest and Deno test frameworks.

Your example looks pretty good as well. Are either you or @3zk1m0 looking to implement these? I'm touching up the CI changes now and can move on to this of we

[2020-10-03 16:54] balazsbotond commented on #43
@tcarrio and @3zk1m0 thanks for your input on this! I was a bit on the fence about this solution but I'm glad you both think it's a good one.

@tcarrio I'd be glad if you could implement the abstraction layer too!

[2020-10-03 17:08] balazsbotond opened #54 "Use eslint instead of tslint"
We currently use [tslint](https://palantir.github.io/tslint/) for linting but as it turns out, it is deprecated in favor of [eslint](https://eslint.org/).

We need to switch to eslint with a minimal config we can extend later.

Resources:
- [Getting Started](https://github.com/typescript-eslint/typescript-eslint/blob/master/docs/getting-started/linting/README.md)
- [eslint Config](https://eslint.o

[2020-10-03 17:18] drishit96 commented on #54
Hi @balazsbotond, I would like to work on this issue

[2020-10-03 17:23] balazsbotond commented on #54
@drishit96 it's yours! :)

[2020-10-03 18:12] drishit96 commented on #54
I am almost done with the eslint migration, except for this one issue.
`ParamMap` defined [here](https://github.com/balazsbotond/urlcat/blob/12df92ee67f010e8eca58d0156e37bd2739fda53/src/index.ts#L3), has `any` used in it and eslint is giving a warning for the same.
I tried changing it to `string` and the tests were passing locally, but then the tests failed in travis ci because `number` was being

[2020-10-03 18:20] tcarrio commented on #43
The changes recently merged in for #51 break Deno compatibility. Also, it might be a good idea to check the actual minified size of this code now.

Also another note about that change. From the README:

That was before the external package was brought in. It's likely larger now and should be updated before the next push to `latest`

[2020-10-03 18:38] tcarrio opened #56 "Update README to reflect changes in v3"
**Describe the bug**
The README notes several key features to the project. From the README:

The second and third bullets are no longer correct.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to README
2. Scroll down to 'Features'
3. See error

**Expected behavior**
The updated information on key features with the latest in master.

**Screenshots**
If applicable, add screenshots to help

[2020-10-03 18:41] tcarrio commented on #43
I opened up a follow-up task for updating the README to accomodate those merged changes. See #56 for more info.

[2020-10-03 21:26] balazsbotond commented on #54
Please disable the warning for that line - we will specify the type more accurately later but this will be OK for now.

[2020-10-04 00:48] tcarrio commented on #56
Hoping we can figure out a way to get around these issues to continue supporting Deno. While `qs` might be an easier way for the package to support query parameters, it could be difficult to require dependencies and support Deno. We'll probably have to hold further discussion here or open another issue to track it.

[2020-10-04 05:05] drishit96 commented on #54
I have disabled the warning for that line. Let me know if any other change is needed in the PR.

[2020-10-04 07:08] #54 closed, assigned to drishit96

[2020-10-04 17:20] #22 closed, assigned to EngrKhizarIqbal

[2020-10-05 04:52] EngrKhizarIqbal opened #63 "Remove duplicate sections from the docs"
In the [documentation](https://urlcat.dev/), we have a contribute a section on the main page as well as in separate pages. We need to remove either one. I added separate pages so we can add more info on how to contribute or compile from the source and do discuss this were to keep these details? on the main page or on separate pages?

@balazsbotond whats is your opinion on this?

[2020-10-05 08:26] balazsbotond commented on #63
@EngrKhizarIqbal good idea! I think we should keep the separate contribution page and remove it from the main page.

[2020-10-05 10:35] #63 closed, assigned to nobody

[2020-10-05 10:58] balazsbotond commented on #43
@all-contributors please add @3zk1m0 for ideas

[2020-10-05 19:54] balazsbotond opened #74 "The future of Deno support"
Until #51 was merged, *urlcat* was dependency-free and therefore it could trivially support Deno along with Node and the browser. This PR introduced [qs](https://github.com/ljharb/qs) as a dependency to support arrays and objects as query parameters and different ways of formatting them.

I asked a question on the Deno Discourse server and after discussing this situation with @wperron, I can see 4

[2020-10-05 19:57] balazsbotond commented on #56
I think we should keep this issue as a reminder to update the README before releasing the next major version.

I've just opened a new issue to discuss Deno support: #74

[2020-10-05 20:01] balazsbotond commented on #43
I'm closing this issue because the the Travis CI configuration has been merged into the `2.x` branch.

I'll open a new issue to continue the discussion about cross-compatible unit testing.

[2020-10-05 20:01] #43 closed, assigned to nobody

[2020-10-05 20:04] wperron commented on #74
If this were me, I would do a mix of options 1 & 2. qs isn't a terribly complicated library, forking it or even just vendoring it into urlcat seems like something reasonable both in terms of effort and maintenance. Then, for option 1, it _should_ be possible to refactor the existing code to use ES Modules, which is supported by Node (albeit in behind the experimental flag).

Imo ES Modules is prob

[2020-10-05 20:05] balazsbotond opened #75 "Cross-compatible unit testing"
This issue is currently blocked by #74

If we decide to continue supporting Deno, and choose the second or third option described in #74, we will need to run unit tests on both Node and Deno (and maybe even the browser?).

A [proposal for this](https://github.com/balazsbotond/urlcat/issues/43#issuecomment-703087916) has already been discussed in #43. We could continue that discussion here.

[2020-10-06 14:38] SimonJang commented on #74
@balazsbotond I wouldn't mind messing around a bit for option 3, if you need help. Might be better to compare some of the options if we have something to compare them against. It's a small lib, so shouldn't be too much work (famous last words?)

[2020-10-06 16:04] balazsbotond commented on #74
@SimonJang sounds great, I would really appreciate it!

[2020-10-06 18:04] balazsbotond commented on #74
In the meantime I started to write a POC for version 2 on the `feature/qs-port` branch - this way we'll be able to compare the two versions.

[2020-10-06 22:53] tcarrio commented on #74
I think option 3 may be the best choice. For use in Deno, you would import directly from a CDN like [Pika](https://www.pika.dev/), [jspm](https://jspm.org/), or [unpkg](https://unpkg.com/).

The tsconfig.json as it is now likely could be updated to target ESM modules with the use of a bundler, but I'm unsure if it would allow imports within that module. That we can test out.

[2020-10-06 22:58] tcarrio commented on #74
Update: You would need to bundle to continue using qs.

[2020-10-08 11:42] balazsbotond commented on #74
@tcarrio I also like option 3 the most.

[2020-10-08 13:20] balazsbotond opened #78 "License compatibility"
*urlcat* now uses qs internally. qs is licensed under the BSD 3-clause license which is less permissive than MIT, which urlcat currently uses. We need to determine if this means that urlcat also needs to change its license - I'll try to find some info about this but any help is appreciated.

[2020-10-12 06:03] SimonJang commented on #74
@balazsbotond I haven't found much time the previous week to work on this. I'll give it a go this week.

[2020-10-12 08:02] balazsbotond commented on #74
@SimonJang thank you!

[2020-10-14 15:03] callmeaponte opened #82 "Can we remove URLSearchParams from index.js?"
First of all, this is a very useful library - thank you for taking the time to build it.

**Describe the bug**
The `URLSearchParams` call in `index.js` file causes the script to fail when running node.js < v10. For whatever reason, I only see `URLSearchParams` when npm installing this library - but when cloning it locally and running a build I don't:

**npm version**
[code]

**build version**
[cod

[2020-10-15 07:00] balazsbotond commented on #82
@callmeaponte thank you for the detailed report and I'm glad you like urlcat!

The reason for the discrepancy you noticed is that this library is currently in a transitional state. We have recently dropped `URLSearchParams` in favor of [qs](https://github.com/ljharb/qs) to [support array and object query params better](https://github.com/balazsbotond/urlcat/issues/6) and will soon release a new ma

[2020-10-15 14:26] callmeaponte commented on #82
Ah okay, makes sense. I'm going to switch to v1.0.1 for now, and make a note to check back here in a month or so for the new release. Thanks!

[2020-10-15 14:26] #82 closed, assigned to balazsbotond

[2020-11-19 09:38] Saafine opened #103 "Query params output"
**Describe the bug**
Possibly incorrect queryParams output

**To Reproduce**
urlcat('https://google.com', '', {test: 'abc'})
returns https://google.com/test=abc

**Expected behavior**
Should return
https://google.com?test=abc

[2020-11-19 09:54] harshilparmar commented on #103
Hey @balazsbotond Can I help for this?

[2020-11-19 09:54] balazsbotond commented on #103
@Saafine thank you for the bug report.

I've successfully reproduced it using the currently published npm version and it is indeed a problem.

[2020-11-19 09:59] balazsbotond commented on #103
@harshilparmar thanks, that would be great. I have a lot of work to do these days so I'm glad you showed up.

As a first step, we need to reproduce the bug on both `2.x` and the `master` branch - let's see which version it affects. Can you help with this first? After that, let's discuss the results here and decide how to proceed.

[2020-11-19 10:10] harshilparmar commented on #103
@balazsbotond Yeah sure, I will let you know!!

[2020-11-20 20:27] harshilparmar commented on #103
@balazsbotond brother, this issue affects in both `2.x` and `master`.
Observation : I think urlcat second param takes empty string in consideration.

[2020-11-22 23:34] SeinopSys opened #106 "Allow PHP-style serialization of array query parameters"
**Is your feature request related to a problem? Please describe.**
I'm trying to construct a query string from an array using `query` but it seems like I get the JavaScript default join behavior: `keys=a,b`

**Describe the solution you'd like**
Calling `query` with `{ keys: ['a', 'b'] }` (and possibly a second options parameter to control this?) should result in `"keys[]=a&keys[]=b"`

**Describe a

[2020-11-30 09:38] balazsbotond commented on #103
@harshilparmar thank you! I'm sorry it took this long to reply. If you still have the time, I'd be very thankful if you could work on a fix.

[2020-11-30 09:41] balazsbotond commented on #106
@SeinopSys we are currently working on this feature and it will be released in the next major version.

[2020-11-30 09:41] balazsbotond commented on #106
Thank you for your interest in the project! I'm closing this issue now but if you have any further questions, feel free to add more comments.

[2020-11-30 09:41] #106 closed, assigned to nobody

[2020-11-30 10:25] harshilparmar commented on #103
@balazsbotond I am on it 👨‍💻

[2020-12-11 15:05] balazsbotond commented on #103
@harshilparmar if you have time, could you backport the fix to the `2.x` branch and send another PR against that branch? This way I could release a new patch release after merging it and the latest published version would be free of known bugs.

[2020-12-11 16:01] harshilparmar commented on #103
Sure brother 👍🏼

[2021-01-21 13:01] renovate[bot] opened #129 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 14:49] #129 closed, assigned to nobody

[2021-02-02 07:38] airtoxin opened #134 "about release schedule"
I want to use feature added on https://github.com/balazsbotond/urlcat/issues/6.
It merged Oct 3 last year but not released yet.
There are any release schedule?

[2021-02-08 04:16] harshilparmar commented on #103
@balazsbotond Can you please close this issue? It might take time for new contributors.

[2021-02-25 00:15] mdarens opened #138 "Infer required params from path template"
**Is your feature request related to a problem? Please describe.**

When param keys are defined in the path template, there is no static validation that they are present in the params object, which can lead to unbound path template components at runtime. The most likely case in which this occurs tends to be a casing or spelling mismatch on a path template component or params property.

**Describe

[2021-02-25 16:34] mdarens commented on #138
I went ahead and added the overloads. see [this gist](https://gist.github.com/mdarens/ff57aa49209974bb38e258e0d44dbd17)

[2021-03-05 19:55] knpwrs opened #143 "README diagram hard to read on GitHub's dark mode"
See screenshot:

![image](https://user-images.githubusercontent.com/174864/110166693-55b13d00-7dba-11eb-82dc-cd9983a67fae.png)

[2021-03-07 13:02] comatory opened #145 "Not compatible with Safari 10"
**Describe the bug**
The path is incorrectly concatenated with stringified object.

**To Reproduce**

1. Use Safari 10
2. Navigate to [http://incandescent-farmer.surge.sh/](http://incandescent-farmer.surge.sh/)
3. Result is `/hello/world?%5Bobject=Object%5D=`

**Expected behavior**
Result should be `/hello/world` only

**Screenshots**
<img width="982" alt="Screenshot 2021-03-07 at 17 53 07" src="h

[2021-03-07 16:21] comatory opened #146 "Update documentation and remove "no dependencies" claim"
**Describe the bug**
This library states it has no dependencies, yet it uses `qs` as dependency.

**To Reproduce**
Read README file.

**Expected behavior**
Remove claim that this is dependency free lib. Or remove the `qs` dependency.

[2021-03-07 16:56] comatory commented on #145
Useful library that I've used in the past. I have built my own parsers like this before and did not want to do it again. My current project is Javascript SPA that supports ES6. So I was bummed seeing this in Safari 10 which is perfectly capable of running my code. However basically the app is unusable since I'm using `urlcat` to construct URLs for my application router and data fetching, so basica

[2021-03-12 07:28] niroshana1234 opened #149 "Add hash into the url"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-03-12 07:33] niroshana1234 opened #150 "Can not create url with # Eg: http://example.com/id/1234?foo=bar&bar=one&bar=two&bar=three#/api/groupId/34444"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-03-12 08:27] harshilparmar commented on #150
It would be nice to handle # url. What you say @balazsbotond 🤔

[2021-03-15 10:11] mehdihaddad opened #151 "Add params to an url who already have params"
For exemple,
[code]

`OUTPUT: http://myurl.com?myparams=1?foo=2&bar=2`
`WANTED: http://myurl.com?myparams=1&foo=2&bar=2`

[2021-03-15 10:38] harshilparmar commented on #151
@mehdihaddad Nice catch !!
My approach for this is to
1. Check ? with regex
2. Append next params after that
@balazsbotond What you say !! I would like to take this 😀

[2021-03-15 11:42] mehdihaddad commented on #151
My local solution, (to add in the project ? with modification of course)

[code]
This is a way to fix it

[2021-03-15 11:48] mehdihaddad commented on #151
To check :

[code]

.search give you only the queryParams string like `http://myurl.com?foo=bar` -> `?foo=bar`

[2021-03-15 16:22] mehdihaddad commented on #151
Maybe a regex would be better, because of url value. In urlcat you can have `urlcat('test/test', {....})` and `new URL('test/test')` will gave you an error.

[2021-04-05 19:54] flxwu commented on #1
Hey,

so actually in some use cases (like OAuth1) we require whitespaces to be encoded as %20, instead of +.

Can you thus please add an option to encode it as %20?

Thanks :)

[2021-04-05 19:59] flxwu opened #155 "Add option to encode whitespace as %20"
Hey,

in some use cases (like OAuth1) we require whitespaces to be encoded as %20, instead of +.

Can you thus please add an option to encode it as %20?

Reference: https://stackoverflow.com/questions/9336267/url-encode-oauth-signature

Thanks :)

[2021-04-05 20:13] flxwu commented on #134
Hi, any update here? I need this feature too.

[2021-04-06 08:51] mehdihaddad commented on #134
@balazsbotond @harshilparmar etc... ??? need you.

[2021-04-06 09:55] harshilparmar commented on #134
The only @balazsbotond  can help here !! Don't know about a release schedule 😞

[2021-04-06 12:54] mehdihaddad commented on #134
2 months with no answer... The project is already dead ? If someone can contact him...

[2021-06-10 07:31] Anricx commented on #145
any update?

[2021-06-28 07:20] cryptogohan opened #168 "TypeError: Failed to construct 'URL': Argument 1 is not a valid ByteString"
**Describe the bug**
I build a URL like so:
[code]
Where `query` is `"🦇🔊"`, and get the following error:
[code]

Encoding with `encodeURIComponent` seems to fix things but I thought the lib already did that for me? I'm also not sure why this started breaking one day to the next 🤔 .

Thought I'd report, maybe it was always broken somehow and you do need to encode emoji yourself?

[2021-07-09 13:19] iSplasher commented on #151
Hello, would it be possible to fix this?

[2021-08-11 09:24] Kamsou commented on #155
UP !

[2021-09-08 12:10] alextes opened #171 "urlcat is not a function"
**Describe the bug**
locally runs fine, in a docker build my code blows up with "urlcat is not a function".

Node v16. I run in ESM mode.

minimal example is create a ts project with module ES2020, run with node v16 type: "module".
[code]
results in the "not a function" type error. I tried `import {default as urlcat} from "urlcat"` too.

any idea what could be happening? I really like this module!

[2021-09-08 12:14] alextes commented on #171
this solves it for me, perhaps it can help others or even update the imports so they work with ts/ESM.
[code]

`import {default as urlcat} from "urlcat";` still needs the same `.default` to fix things.

[2021-10-19 02:07] renovate[bot] opened #176 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/balazsbotond/urlcat).

## Config Migration Needed

 - [ ]  Select this checkbox to let Renovate create an automated Config Migration PR.

## Depreca

[2021-12-22 00:13] Devessier commented on #171
Thanks @alextes, I encountered the same issue with my SvelteKit blog, and indeed, it works!

[2022-02-04 16:48] coder36 commented on #171
This works:
[code]

[2022-02-15 10:59] alextes commented on #171
This is getting annoying 🙁 . This is a great lib but importing it is kinda the minimum, and it doesn't work with the modern TS + ESM setup (unless I'm missing something). Can someone make me a maintainer so I can try to fix it?

[2022-03-21 10:34] alfianandinugraha commented on #145
Can this issue fix by Babel?

[2022-05-20 04:13] dreamerblue commented on #134
Hey, you can try `urlcat-fork` package from npm. I am now using this package to fix array format.

[2022-05-20 16:38] harshilparmar commented on #134
I already tried it already !! @balazsbotond Hey, Are you there!!

[2022-09-25 22:27] JasonLandbridge commented on #171
@balazsbotond , could you maybe assign @alextes as an maintainer? It would be a shame if this project dies a silent death.

[2022-09-26 07:21] alextes commented on #171
I see some 👍 have piled up 😅 . For others in need, I wrote a lib that does the bare minimum.

https://github.com/alextes/url-sub

I wouldn't recommend getting behind that one however, it's a stop-gap, looking at this issue again and the great-looking source for this lib, someone should just fork this and make the exports work. I am a little short on time.

I think two libs that give a good example

[2022-10-03 09:02] TomokiMiyauci opened #187 "Unnatural combination results"
Several patterns resulted in results that differed from predictions.
Are these intended results?

1. `"https://example.test/"` , `""` -> `"https://example.test"`
2. `"https://example.test/"` , `"/"` -> `"https://example.test"`
3. `"https://example.test//"`, `"//"` -> `"https://example.test///"`

Expected

1. `"https://example.test/"`
   `"https://example.test/"` -> `"https://example.test/"`, so it

[2022-10-04 09:06] tema3210 opened #188 "Arrays as parameters"
**Is your feature request related to a problem? Please describe.**
Case: need multiple values for query parameter. Currently (urlcat = 2.0.4) it always turns an array into a string and that ends up being a query parameter.

**Describe the solution you'd like**
In that case query parameter should be mentioned multiple times: each time with another value from an array.

**Describe alternatives you'v

[2022-11-11 23:58] balazsbotond commented on #56
Fixed in https://github.com/balazsbotond/urlcat/pull/190

[2022-11-11 23:58] #56 closed, assigned to nobody

[2022-11-11 23:59] balazsbotond commented on #74
Closing because I don't have the time and motivation to change the currently published version significantly.

[2022-11-11 23:59] #74 closed, assigned to nobody

[2022-11-12 00:00] balazsbotond commented on #75
Closing (see #74).

[2022-11-12 00:00] #75 closed, assigned to nobody

[2022-11-12 00:03] balazsbotond commented on #103
Closing because I decided to delete the `2.x` branch and concentrate on maintaining the currently published version.

[2022-11-12 00:03] #103 closed, assigned to harshilparmar

[2022-11-12 00:23] balazsbotond commented on #134
I'm sorry it took so long but I have finally released the new version.

[2022-11-12 00:24] harshilparmar commented on #103
Really happy to see you back here ☺️

[2022-11-12 00:28] #134 closed, assigned to nobody

[2022-11-12 00:30] balazsbotond commented on #138
Wow, this is amazing. If you are still interested in this feature, please make a PR.

[2022-11-12 00:35] balazsbotond commented on #143
Thank for reporting this.

Looks like GitHub supports displaying a different image on dark mode: https://www.stefanjudis.com/notes/how-to-define-dark-light-mode-images-in-github-markdown/

The SVG is in the `docs/` folder, we could make a version with white text instead of black.

[2022-11-12 00:40] #145 closed, assigned to nobody

[2022-11-12 00:41] balazsbotond commented on #145
I've just merged the PR, sorry for the huge delay everyone.

[2022-11-12 00:42] balazsbotond commented on #149
Out of scope for the project, sorry.

[2022-11-12 00:42] #149 closed, assigned to nobody

[2022-11-12 00:43] balazsbotond commented on #150
If you don't use the issue template, please at least don't leave it in the description unchanged.

I'm sorry but supporting fragments is out of scope for this project.

[2022-11-12 00:43] #150 closed, assigned to nobody

[2022-11-12 00:45] balazsbotond commented on #155
I've just released v3.0.0 which uses qs - please check if the issue persists. If it does, I'll reopen this issue.

[2022-11-12 00:45] #155 closed, assigned to nobody

[2022-11-12 00:46] balazsbotond commented on #146
Fixed in #190

[2022-11-12 00:46] #146 closed, assigned to nobody

[2022-11-12 00:52] balazsbotond commented on #151
Thanks for reporting this, @mehdihaddad. Could you please show me a realistic use case where this:

[code]

wouldn't solve the problem?

[2022-11-12 00:55] balazsbotond commented on #168
@cryptogohan I couldn't reproduce this - worked perfectly for me:

[code]

I'm using Node 16, maybe this only fails on earlier Node versions. I know this is an old bug but I would appreciate if you helped me reproduce it.

[2022-11-12 01:02] balazsbotond commented on #171
Hi everyone, sorry for the long hiatus. I'm now reading through all the issues and trying to resolve them. This seems to be the most urgent problem with the project - please let me take some time to understand it and come up with a solution. PR's are also very much appreciated. Thank you for your patience!

[2022-11-12 01:06] balazsbotond commented on #188
Hi @tema3210, I've just released v3.0.0 - please check if the new version (which now includes qs, and can handle arrays/objects as parameters) solves you problem! I'm closing this issue now but feel free to reopen/comment if the version upgrade doesn't work out.

[2022-11-12 01:06] #188 closed, assigned to nobody

[2022-11-12 01:39] balazsbotond commented on #103
@harshilparmar nice to see you again too :)

[2022-11-12 15:45] alextes commented on #168
@cryptogohan is an alt I used for a short time.

Mmm, I'm not sure now. The code above is not running anymore. If I had to guess, it had something to do with the difference between Deno and Node. The above was running with Deno.

I'd say we can close this then.

[2022-11-14 10:11] balazsbotond commented on #168
@alextes thanks checking it, I'm closing the issue.

[2022-11-14 10:11] #168 closed, assigned to nobody

[2022-11-15 11:22] balazsbotond commented on #187
@TomokiMiyauci thank you for the feedback. I've tested this with the latest version (v3.0.0) with the following result:

`"https://example.test/"` + `""` = `"https://example.test/"`
`"https://example.test/"` + `"/"` = `"https://example.test"`
`"https://example.test//"` + `"//"` = `"https://example.test///"`

This is very surprising and inconsistent. I'll look into it.

[2022-11-19 19:18] balazsbotond commented on #187
This is actually documented in the README:

[RFC 3986](https://tools.ietf.org/html/rfc3986) allows empty path segments in URLs (for example, `https://example.com//users////2`). *urlcat* keeps any empty path segments that aren't at the concatenation boundary between `baseUrl` and `pathTemplate`. To include an empty path segment there are two options:

This is admittedly not very clear but it basica

[2022-11-19 19:18] #187 closed, assigned to nobody

[2022-11-19 19:55] balazsbotond commented on #151
Closing this for now. If someone can demonstrate that this would be a useful feature to have, I'll reopen the issue.

[2022-11-19 19:56] balazsbotond commented on #78
Closing. urlcat itself can continue to have a more permissive license than its dependency.

[2022-11-19 19:56] #78 closed, assigned to nobody

[2022-11-19 20:18] balazsbotond commented on #143
Fixed.

[2022-11-19 20:18] #143 closed, assigned to nobody

[2022-11-20 22:39] iSplasher commented on #151
A realistic use case is when you just want to ensure a url, which may already have query params, contains a specific set of params, like the first post demonstrated.
If this is not going to be supported then could you please point it out in the readme?